.react-emojis-docs {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  &__item {
    // Reset button styles
    background-color: lighten(lightgray, 10%);
    border-radius: 0;
    border: none;
    border-image-width: 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    text-align: center;
    // Carry on
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 1%;
    margin: 1%;
    width: 97%;
    @media (min-width: 555px) and (max-width: 979px){
      width: 47.5%;
    }
    @media (min-width: 980px) {
      width: 31.5%;
      margin: 0.8%;
    }
    @media (min-width: 1200px) {
      width: 23.4%;
      margin: 0.7%;
    }
    @media (min-width: 1450px) {
      width: 18.7%;
      margin: 0.6%;
    }
    &:hover {
      background-color: lightgray;
      cursor: pointer;
    }
    &:focus {
      outline-color: purple;
    }
    &.disabled {
      background-color: green;
      cursor: initial;
    }
    &__emoji {
      color: white; // This gives the emoji a color 'pop'
      font-size: 60px;
    }
    &__name {
      font-size: 16px;
      @media (min-width: 980px) {
        font-size: 18px;
      }
      font-weight: 500;
      color: black;
      text-shadow: 2px 2px 1px white;
      .disabled & {
        color: white;
        text-shadow: 2px 2px 1px black;
      }
    }
  }
}
